/* Navbar and footer */
.navbar {
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    background-color: #fafafa;
    margin-bottom: 25px;
}


.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    background-color: #fafafa;
    z-index: 2;
}

/* PROFILE USER AND ADMIN */
.profile-list-group {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
}

.title-header,
.subtitle-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-logo {
    width: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

/* ERROR PAGE */
.error-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.error-container h1 {
    font-size: 125px;
}

.error-container h4 {
    font-size: 24px;
}

.error-container p {
    margin-top: 25px;
    line-height: 1.6rem;
}

/* SHOPLIST PAGE */
.shop-row {
    margin: 0 auto;
}

.shoplist-column-card .shop-row {
    width: 50%;
}

/* LOGIN AND REGISTRATION FORM */
.login-form {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-button,
.register-button {
    width: 100%;
    height: 45px;
}

.input-height {
    height: 45px;
}

.login-input {
    padding-bottom: 15px;
}

.no-account-text {
    color: #000;
}

.order-alert-container {
    margin-bottom: 50px;
}

.no-order-alert {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* CARD */
.boxes {
    margin: 10px;
    background-color: rgb(198, 177, 198);
    overflow: hidden;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;
}

.grids {
    max-width: 50%;
    margin: auto;
}

.box {
    margin: 20px;
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid > div {
    flex-basis: calc(50% - 40px);
}

/* BANNER IMAGE AND DESCRIPTION */
.banner-container,
.highlights-container {
    position: relative;
    margin-top: 50px;

}

.banner-description {
    top: 50%;
    left: 50%;
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

.banner-description h1 {
    font-size: 56px;
}

.banner-description p {
    font-size: 24px;
}

.banner-btn {
    letter-spacing: .2rem;
}

.highlights-card {
    border: none;
    padding: 25px;
    border: none;
    text-align: center;
    height: 100%;
}


